{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features" xmlns="http://www.w3.org/1999/html">
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{form.title}}
            {{form.anons}}
            {{form.full_text}}
            {{form.date}}
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">{{ button_text }}</button>
        </form>
    </div>
{% endblock %}