{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% load static %}
{% block content %}
<div class="features" xmlns="http://www.w3.org/1999/html">
        <h1>{{ title }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form | crispy }}
            <p>{{ error }}</p>
            <button class="btn btn-success" type="submit">{{ button_text }}</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static script %}"></script>
{% endblock %}
