{% extends 'main/layout.html' %}

{% block title %}Форма для добавления статьи{% endblock %}

{% block content %}
<div class="features" xmlns="http://www.w3.org/1999/html">
        <h1>Форма по добавлению статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{form.title}}
            {{form.anons}}
            {{form.full_text}}
            {{form.date}}
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}