{% extends 'main/layout.html' %}

{% block title %}Удаление статьи{% endblock %}

{% block content %}
<div class="features" xmlns="http://www.w3.org/1999/html">
        <h1>Удаление статьи</h1>
        <form method="post">
            {% csrf_token %}
            <span>{{ error }}</span>
            <span>Вы действительно хотите удалить статью #{{ article.id }}</span>
            <button class="btn btn-danger" type="submit">Удалить статью #{{ article.id }}</button>
        </form>
    </div>
{% endblock %}