body {
    background: #3a363a;
}

aside {
    position: fixed;
    float: left;
    background: #1c1a1a;
    width: 320px;
    padding: 40px;
    padding-top: 55px;
    min-height: 100vh;
    color: #fff;
    border-right: 5px solid darkolivegreen;
    z-index: 3;
}

aside img {
    width: 80px;
    float: left;
}

aside h3 {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 40px;
}

aside ul {
    list-style: none;
    margin-top: 40px;
}

aside ul a {
    text-decoration: none;
}

aside ul li {
    min-height: 40px;
    color: white;
    display: block;
    margin-top: 15px;
    font-size: 25px;
    text-decoration: none;
    transition: transform ease-in-out .25s;
}

aside ul li i {
    margin-right: 10px;
}

aside ul a li:hover {
    color: #ff2525;
    transform: scale(1.05);
}

aside .btn {
    color: white;
    font-size: 25px;
    margin-left: -12px;
}

main .features {
    padding-left: 320px;
    padding-top: 65px;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .features.zero_padding{
    padding-top: 58px;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.features img {
    width: 500px;
}

.features .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}

.features .flex .block {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 35px;
}

.features .flex .block p:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
}

.features .flex .block:last-child {
    height: auto;
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    background: #e4ae08;
}

.features .flex .block.is_admin {
    background: green;
}

.btn {
    margin: 1em auto;
}

.alert-warning {
    clear: both;
    float: left;
    width: 400px;
    margin: 20px 30%;
    text-align: justify;
}

aside .alert-warning {
    margin: 0;
    width: 100%;
    text-align: center;
}

.alert-warning img {
    width: 100%;
}

.features form {
    width: 30%;
    margin-top: 40px;
}

#hint_id_password1 {
    text-align: start;
}

button[type='submit'] {
    width: 250px;
    height: 35px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background: darkseagreen;
}

form.auth {
    width: 50%;
}

form.auth p {
    display: flex;
    justify-content: space-between;
}

form .form-group {
    margin-bottom: 30px;
}

form .form-group div input {
    width: 66.6%;
    margin: 0 auto;
}

form input, form textarea {
    margin-bottom: 20px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: #1c1a1a;
    padding-right: 40px;
    height: 58px;
}

.header span {
    color: white;
}

.header button {
    margin: 0 0 0 25px;
    width: 150px;
}

.asteriskField {
    display: none;
}

.all_chat {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all_dialogs {
    width: 325px;
    background: #273d3d;
    transition: width 1s ease-in-out;
}

.all_dialogs.open {
    width: 100%;
}
.all_dialogs.open .dialog {
    padding: 5px;
    padding-left: 20px;
}
.all_dialogs.open .dialog img {
    width: 110px;
}
.all_dialogs.open .dialog p {
    font-size: 17px;
}

.dialog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    padding: 20px;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.dialog:hover {
    background: #268686;
}

.features .dialog img {
    height: 100%;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    transition: width 1s ease-in-out;
}

.features .dialog p {
    max-width: unset;
    margin: unset;
    text-align: start;
    font-size: 13px;
    transition: width 1s ease-in-out;
}

.features .chat_form {
    width: 850px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.features .chat_form div input {
    width: 350px;
}

.features .chat_form button[type='submit'] {
    height: 40px;
    width: 40px;
    padding: 0.375rem;
    background: none;
    border: none;
}

.features .chat_form button[type='submit'] i {
    color: white;
    font-size: 25px;
    transition: .35s ease-in-out;
}

.features .chat_form button[type='submit'] i:hover {
   transform: rotateZ(50deg);
}

.features .chat_form button[type='submit'] i:active {
   transform: scale(.8) rotateZ(50deg);
}

.chats .message {
    display: flex;
}

.chats .message p {
    max-width: 400px;
    margin: 20px 0;
    width: 33%;
}

.chats .message p:first-child {
    text-align: start;
}

.chats .message p:last-child {
    text-align: end;
}

.all_messages {
    padding-right: 25px;
}
