{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="features">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Профит</th>
                    <th>Изображение</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for offer in all_offers %}
                    <tr class="offer">
                        <td class="id"></td>
                        <td class="title_offer">{{ offer.title }}</td>
                        <td class="description">{{ offer.description }}</td>
                        <td class="prices">{{ offer.price }}</td>
                        <td class="prices">{{ offer.profit }}</td>
                        <td class="image"><img src="../{{ offer.image }}" alt=""></td>
                        <td class="action">
                            <form class="buy_form" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit">Добавить</i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/js/offers.js' %}"></script>
{% endblock %}
