{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur corporis deserunt dolore dolorem error modi possimus quasi rerum. Accusantium consequatur dicta doloribus perferendis qui tempore ullam? Cum, enim, neque.</p>
        <a href="{% url 'home' %}" class="btn btn-success">Go to Main page</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur corporis deserunt dolore dolorem error modi possimus quasi rerum. Accusantium consequatur dicta doloribus perferendis qui tempore ullam? Cum, enim, neque.</p>
        <a href="{% url 'home' %}" class="btn btn-danger">Go to Main page</a>
    </div>
{% endblock %}