{% load static %}
<div class="header">
    {% if user.is_authenticated %}
        <span> Hi {{ user.email }}!</span>
        <img class="avatar" src="../{{ user.avatar }}" alt="">
        <a class="btn btn-warning login-form" href="{% url 'logout' %}">Press to LogOut</a>
    {% else %}
        <span>You are not logged in</span>
        {% if 'login' in request.get_full_path %}
            <a class="btn btn-success login-form" href="{% url 'register' %}">Press to Register</a>
        {% endif %}
        {% if 'register' in request.get_full_path %}
            <a class="btn btn-outline-primary login-form" href="{% url 'login' %}">Press to LogIn</a>
        {% endif %}
        {% if not 'register' in request.get_full_path and not 'login' in request.get_full_path %}
            <a class="btn btn-success login-form" href="{% url 'register' %}">Press to Register</a>
            <a class="btn btn-outline-primary login-form" href="{% url 'login' %}">Press to LogIn</a>
        {% endif %}
    {% endif %}
</div>