{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur corporis deserunt dolore dolorem error modi possimus quasi rerum. Accusantium consequatur dicta doloribus perferendis qui tempore ullam? Cum, enim, neque.</p>
        <button class="btn btn-warning">Go to About page</button>

        {% for el in values %}
            {% if el == 'some' %}
                <p>{{ el }}</p>
                <p>{{ objects.cars.0|upper }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}