{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="features">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Изображение</th>
                    <th>Дата</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for offer in confirmed_offers %}
                    <tr class="offer my_offers">
                        <td>{{ offer.id }}</td>
                        <td class="title_offer">{{ offer.inst.offer_title }}</td>
                        <td><img src="{{ offer.inst.image }}" alt=""></td>
                        <td>{{ offer.inst.time }}</td>
                        <td class="action">
                            <form class="buy_form" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="offer_pk" value="{{ offer.inst.pk }}">
                                <button class="btn btn-danger" type="submit">Удалить</i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}