{% load static %}
<aside>
    <img src="{% static 'main/img/logo.png' %}" alt="logo">
    <h3>Navigation</h3>
    <ul>
        <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Main page</li></a>
        <a href="{% url 'about' %}"><li><i class="fas fa-question-circle"></i> About</li></a>
        <a href="{% url 'news_home' %}"><li><i class="fas fa-rss-square"></i> News</li></a>
        <a href="{% url 'profile' %}"><li><i class="fa fa-user" aria-hidden="true"></i> My Profile</li></a>
        <a href="{% url 'chat' %}"><li><i class="fa fa-comment" aria-hidden="true"></i> Chat</li></a>
        <a href="{% url 'all_offers' %}"><li><i class="fas fa-luggage-cart"></i> Offers</li></a>
        {% if user.is_authenticated %}
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fa fa-plus-circle"></i> Add news</button></li></a>
        {% endif %}
    </ul>
</aside>