{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
            <h1>{{ title }}</h1>
        <div class="flex">
            <div class="block">
                <p>Почта</p>
                <p>{{ user.email }}</p>
            </div>
            <div class="block">
                <p>ФИО </p>
                <p>{{ user.fio }}</p>
            </div>
            <div class="block">
                <p>Telegram</p>
                <p>{{ user.telegram }}</p>
            </div>
            <div class="block">
                <p>Кампании</p>
                <p>{{ user.companys }}</p>
            </div>
            <div class="block">
                <p>Баланс</p>
                <p>{{ user.money }}</p>
            </div>
            <div class="block">
                <p>Тип аккаунта</p>
                <p>{{ user.get_account_type_display }}</p>
            </div>
            {% if user.is_admin %}
                <div class="block is_admin">Роль: Admin</div>
            {% else %}
                <div class="block">Роль: User</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

